# While running tests, coverage is trying to read configuration in pyproject.toml
pdfminer.six==20220319
coverage[toml]
odoo-addon-membership-delegated-partner-line @ git+https://github.com/gfcapalbo/vertical-association.git@18.0-MIG-membership_delegated_partner_line#subdirectory=membership_delegated_partner_line
odoo-addon-github_connector_oca @ git+https://github.com/Therp/interface-github.git@18.0-mig-github_connector_oca#subdirectory=github_connector_oca
odoo-addon-apps_product_creator @ git+https://github.com/Therp/apps-store.git@18.0-mig-apps_product_creator#subdirectory=apps_product_creator
odoo-addon-account_statement_import_online_wise @ git+https://github.com/Therp/bank-statement-import@18.0-fix-account-statement-import-online-wise#subdirectory=account_statement_import_online_wise
odoo-addon-account_banking_pain_base @ git+https://github.com/Therp/bank-payment.git@18.0-mig-account_banking_pain_base_sepa_hybrid_extended_for_09#subdirectory=account_banking_pain_base
odoo-addon-account_banking_sepa_credit_transfer @ git+https://github.com/Therp/bank-payment.git@18.0-mig-account_banking_pain_base_sepa_hybrid_extended_for_09#subdirectory=account_banking_sepa_credit_transfer
odoo-addon-base-url @ git+https://github.com/akretion/server-tools.git@18.0-add-url-2#subdirectory=base_url
odoo-addon-membership_account_invoice_start_end_dates @ git+https://github.com/akretion/vertical-association.git@18.0-add-membership-start-end-date2#subdirectory=membership_account_invoice_start_end_dates
