# While running tests, coverage is trying to read configuration in pyproject.toml
pdfminer.six==20220319
coverage[toml]
odoo-addon-membership-delegated-partner-line @ git+https://github.com/gfcapalbo/vertical-association.git@18.0-MIG-membership_delegated_partner_line#subdirectory=membership_delegated_partner_line
odoo-addon-account_statement_import_online_wise @ git+https://github.com/Therp/bank-statement-import@18.0-mig-account-statement-import-online-wise#subdirectory=account_statement_import_online_wise
odoo-addon-github_connector_oca @ git+https://github.com/Therp/interface-github.git@18.0-mig-github_connector_oca#subdirectory=github_connector_oca
odoo-addon-apps_product_creator @ git+https://github.com/Therp/apps-store.git@18.0-mig-apps_product_creator#subdirectory=apps_product_creator
odoo-addon-crowdfunding @ git+https://github.com/hbrunn/crowdfunding.git@18.0-mig-crowdfunding#subdirectory=crowdfunding
odoo-addon-crowdfunding_public_pledge @ git+https://github.com/hbrunn/crowdfunding.git@18.0-mig-crowdfunding#subdirectory=crowdfunding_public_pledge
